
<form class="geral">
    

    <form class="CPF">
    <mat-form-field class="example-full-width">
      <mat-label>CPF</mat-label>
      <input type="number" matInput  placeholder="Ex. 00000000000">
    </mat-form-field>
  </form>
  <form class="nome">
    <mat-form-field class="example-full-width">
      <mat-label>Nome</mat-label>
      <input type="name" matInput placeholder="Ex. Robsom">
    </mat-form-field>
  </form>

  <form class="loginSenha">
    <form class="login">
        <mat-form-field class="example-full-width">
          <mat-label>login</mat-label>
          <input type="name" matInput placeholder="Ex. Robsom">
        </mat-form-field>
    </form>
    <form class="senha">
        <mat-form-field class="example-full-width">
          <mat-label>senha</mat-label>
          <input type="password" matInput placeholder="Ex. R0bs0m">
        </mat-form-field>
    </form>
</form>
  
  
</form>